<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwW1W8ju2hNpZQJe3JlyDOUUTxpjjkpv4</string>
	<key>GCM_SENDER_ID</key>
	<string>45438182786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task.exam</string>
	<key>PROJECT_ID</key>
	<string>task-3bf25</string>
	<key>STORAGE_BUCKET</key>
	<string>task-3bf25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45438182786:ios:8ffad7646cba5fc7259b9b</string>
</dict>
</plist>